body.aether {
  background-image: url("../assets/bg/aether.png");
  background-position: bottom right -100px;
  background-size: contain;
}

body.amber {
  background-image: url("../assets/bg/amber.png");
  background-position: bottom right -150px;
  background-size: contain;
}

body.barbara {
  background-image: url("../assets/bg/barbara.png");
  background-position: bottom right -130px;
  background-size: contain;
}

body.beidou {
  background-image: url("../assets/bg/beidou.png");
  background-position: bottom right -150px;
  background-size: contain;
}

body.bennett {
  background-image: url("../assets/bg/bennett.png");
  background-position: bottom right -150px;
  background-size: contain;
}

body.chongyun {
  background-image: url("../assets/bg/chongyun.png");
  background-position: bottom right -150px;
  background-size: contain;
}

body.diluc {
  background-image: url("../assets/bg/diluc.png");
  background-position: bottom right -150px;
  background-size: contain;
}

body.diona {
  background-image: url("../assets/bg/diona.png");
  background-position: bottom right -150px;
  background-size: contain;
}

body.fischl {
  background-image: url("../assets/bg/fischl.png");
  background-position: bottom right -150px;
  background-size: contain;
}

body.jean {
  background-image: url("../assets/bg/jean.png");
  background-position: bottom right -150px;
  background-size: contain;
}

body.kaeya {
  background-image: url("../assets/bg/kaeya.png");
  background-position: bottom right -150px;
  background-size: contain;
}

body.keqing {
  background-image: url("../assets/bg/keqing.png");
  background-position: bottom right -150px;
  background-size: contain;
}

body.klee {
  background-image: url("../assets/bg/klee.png");
  background-position: bottom right -150px;
  background-size: contain;
}

body.lisa {
  background-image: url("../assets/bg/lisa.png");
  background-position: bottom right -150px;
  background-size: contain;
}

body.lumine {
  background-image: url("../assets/bg/Lumine.png");
  background-position: bottom right -150px;
  background-size: contain;
}

body.mona {
  background-image: url("../assets/bg/mona.png");
  background-position: bottom right -150px;
  background-size: contain;
}

body.ningguang {
  background-image: url("../assets/bg/ningguang.png");
  background-position: bottom right -150px;
  background-size: contain;
}

body.noelle {
  background-image: url("../assets/bg/noelle.png");
  background-position: bottom right -150px;
  background-size: contain;
}

body.paimon {
  background-image: url("../assets/bg/paimon.png");
  background-position: bottom -350px right -70px;
  background-size: initial;
}

body.qiqi {
  background-image: url("../assets/bg/qiqi.png");
  background-position: bottom right -150px;
  background-size: contain;
}

body.razor {
  background-image: url("../assets/bg/razor.png");
  background-position: bottom right -150px;
  background-size: contain;
}

body.sucrose {
  background-image: url("../assets/bg/sucrose.png");
  background-position: bottom right -150px;
  background-size: contain;
}

body.tartaglia {
  background-image: url("../assets/bg/tartaglia.png");
  background-position: bottom right -150px;
  background-size: contain;
}

body.venti {
  background-image: url("../assets/bg/venti.png");
  background-position: bottom right -150px;
  background-size: contain;
}

body.xiangling {
  background-image: url("../assets/bg/xiangling.png");
  background-position: bottom right -150px;
  background-size: contain;
}

body.xiao {
  background-image: url("../assets/bg/xiao.png");
  background-position: bottom right -150px;
  background-size: contain;
}

body.xingqiu {
  background-image: url("../assets/bg/xingqiu.png");
  background-position: bottom right -150px;
  background-size: contain;
}